################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GeneradorClave
/bin/Debug/net7.0
/obj
